*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    color: #1D2C3C;
}
body{
    background-color: #F5F8FA;
}

.head{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #E0E6EA;
}

.logo-nav{
    width: 200px;
    height: 39px;
    object-fit: contain;
}
.right-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.Credit-Card-info{
    display: flex;
    flex-direction: row;
    width: 300px;
    position: absolute;

}

.input-card{
    position: relative;
}
.mmpos{
    right: -150px;
    top: 10px;
}

.cvcpos{
    right: -250px;
    top: 10px;
}

.Credit-Card-info p{
    color: #646E7A;

}

.hidden-nav{
    display: none;
}
.right-nav ul,.right-nav a,.right-nav button{
    list-style: none;
    text-decoration: none;
    color: #1D2C3C;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.right-nav button{
    background: none;
    outline: none;
    border: 2px solid #646E7A;
    padding: 15px;
    border-radius: 10px;
}
.page-container{
    background-color: #ffffff;
    padding: 100px 250px;
}
.page-body{
    display: flex;
    box-shadow: 0px 0px 5px 0px #646E7A;

}
.info-div{
    padding: 30px;
    border-bottom: 5px solid #F5F7FA;
}
.info-div h2{
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0px 4px 5px #646E7A;
}

.left-side{
    width: 60%;
}
.blue-number{
    color: #548BC5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: 3px solid #548BC5;
    padding: 10px 15px;
    border-radius: 30px;
}

.line1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.line1 p{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.line2{
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 15px;
}
.line2 div{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.line2 input{
    width: 227px;
    background-color: #EDEFF2;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}
.line3 input{
    width: 370px;
}
.line4 input{
    width: 500px;
}
.line5{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.line5 p{
    text-align: left;
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    color: #646E7A;
}
.line5 span{
    font-weight: 700;
    color: #1D2C3C;
}
.line5 button{
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #038E7D;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.line5 img{
    width: 92px;
    height: 20px;
}
.qn{
    display: flex;
    gap: 10px;
    align-items: center;
}
.blue-question{
    color: #548BC5;
    font-size: 16px;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 30px;
}

.right-side{
    background-color: #1179BF;
    min-height: 80vh;
    width: 40%;
    padding: 70px;
    color: #ffffff;
}
.right-side p{
    color: #ffffff;
}
.title{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;

}
.dollar{
    font-size: 24px;
    margin-top: 10px;
}
.price-container{
    font-size: 20px;
    display: flex;
    gap: 10px;
}
.price-num{
    font-size: 60px;
}
.year{
    padding-top: 40px;
}
.instr{
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
    font-weight: 400;
    width: 60%;
    font-style: italic;
}
.tick-line{
    display: flex;
    gap: 15px;
    align-items: center;
}
.tick-line img{
    width: 20px;

}
.tick-space{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap:25px
}

.pitch{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
}
.pitch span{
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

.pitch-deck{
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 4px solid #B9F5FF;
    width: 62%;

}

.desc-contain{
    padding-top:30px;
    border-top: 4px solid #4194CC;
    margin-top: 50px;
    width: 62%;
}
.desc-p{
    font-size: 18px;
    font-style: italic;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.profile img{
    width: 40px;
}
.profile p{
    font-size: 16px;
    font-weight: 700;
}



@media (max-width:1360px) {
    
    .head{
        padding: 10px;
        border-bottom: 3px solid #E0E6EA;
    }

    .logo-nav img{
        width: 120px;
        height: 39px;
        object-fit: contain;
    }

    .page-container{
        background-color: #ffffff;
        padding: 50px 50px;
        padding-bottom: 0;
        width: 100vw;
        overflow: hidden;
    }
    .page-body{
        box-shadow: 0px 0px 3px 0px #646E7A;

    }
    .info-div{
        padding: 20px;
        border-bottom: 5px solid #F5F7FA;
    }
    .info-div h2{
        font-size: 25px;
        text-shadow: 0px 4px 5px #646E7A;
    }

    .left-side{
        width: 100%;
    }

    .line1 p{
        font-size: 15px;
    }
    .line2{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .line2 div,.line4  div{
        flex-direction: column;
        margin-right: 10px;

    }
    .line2 input,.line3 input,.line4 input{
        width: 100%;
    }

    .line5 button{
        font-size: 15px;
    }


    .right-side{
        width: 62%;
    }
    .title{
        font-size: 15px;
    }
    .dollar{
        font-size: 15px;
        margin-top: 10px;
    }
    .price-container{
        gap: 5px;
    }
    .price-num{
        font-size: 60px;
    }
    .year{
        padding-top: 40px;
    }
    .instr{
        font-size: 15px;
        width: 100%;
    }


    .desc-contain{
        padding-top:30px;
        border-top: 4px solid #4194CC;
        margin-top: 50px;
        width: 62%;
    }
    
}

@media (max-width:758px) {
    
    .head{
        padding: 10px;
        border-bottom: 3px solid #E0E6EA;
    }

    .logo-nav img{
        width: 120px;
        height: 39px;
        object-fit: contain;
    }
    .right-nav{
        display: none;
    }
    .hidden-nav{
        display: inline;
    }

    .page-container{
        background-color: #ffffff;
        padding: 50px 0px;
        padding-bottom: 0;
        width: 100vw;
        overflow: hidden;
    }
    .page-body{
        flex-direction: column;
        box-shadow: 0px 0px 3px 0px #646E7A;

    }
    .info-div{
        padding: 20px;
        border-bottom: 5px solid #F5F7FA;
    }
    .info-div h2{
        font-size: 25px;
        text-shadow: 0px 4px 5px #646E7A;
    }

    .left-side{
        width: 100%;
    }

    .line1 p{
        font-size: 15px;
    }
    .line2{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .line2 div,.line4  div{
        flex-direction: column;
        margin-right: 10px;

    }
    .line2 input,.line3 input,.line4 input{
        width: 100%;
    }

    .line5 button{
        font-size: 15px;
    }


    .right-side{
        width: 100%;
    }
    .title{
        font-size: 15px;
    }
    .dollar{
        font-size: 15px;
        margin-top: 10px;
    }
    .price-container{
        gap: 5px;
    }
    .price-num{
        font-size: 60px;
    }
    .year{
        padding-top: 40px;
    }
    .instr{
        font-size: 15px;
        width: 100%;
    }


    .desc-contain{
        padding-top:30px;
        border-top: 4px solid #4194CC;
        margin-top: 50px;
        width: 62%;
    }
    
}